<a href="https://colab.research.google.com/github/engineerchacon/Maestria-en-Inteligencia-Artificial-y-Analitica-de-Datos-Colab-Files/blob/main/Limpieza_y_Transformaci%C3%B3n_de_Datos_Pr%C3%A1cticas_12%2C13%2C14%2C15%2C16_Armando_Chac%C3%B3n_Terrazas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Instrucciones:**

El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de carga de datos, normalización de nombres de columnas, separación y unión de columnas, errores en los tipos de datos. Todo es en un conjunto de datos utilizando Pandas en Python.

**Instrucciones:**

Descarga el archivo CSV, miaad-nyc-r-s.csv, proporcionado en esta tarea. También lo puedes encontrar en recursos.
Crea un notebook en colab y guarda el archivo csv descargado en tu drive.
Agrega secciones en el colab poniendo como título el nombre de la práctica
# Práctica 12: Carga de Datos

Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.

Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
Usa df.tail(3) para demostrar que no has cargado la última línea
Imprime la cantidad de filas y columnas del dataframe
# Práctica 13: Agregar una columna

Imprime los nombres de la columnas del archivo
Asegúrate que el nombre de la primera columna debería ser INDEX MIIAD. Si esto no es así, entonces agrega dicho nombre a la columna y vuelve a imprimir los nombres para mostrar el cambio realizado.
# Práctica 14: Normalización de los nombres de la columna.

Normaliza los nombres de ls columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guion bajo
Imprime los nombres de las columnas para demostrar que has realizado la normalización.
# Práctica 15: Errores en los Tipos de Datos

Imprime los tipos de datos de cada columna.
Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.
# Práctica 16: Genera el diccionario de datos del dataframe preprocesado.
Imprime el contenido de dicho diccionario

# **Cargar Drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Práctica 12: Carga de Datos**

In [ ]:
# Importamos la librería de pandas y le asignamos el alias 'pd'
import pandas as pd

# Definimos la ruta del archivo en Google Drive
file_path = '/content/drive/MyDrive/Unidad02/miaad-nyc-r-s.csv'

# Cargamos el archivo CSV a un DataFrame.
# Usamos 'skipfooter=1' para omitir la última fila del archivo.
# 'engine='python'' es para que 'skipfooter' funcione
df = pd.read_csv(file_path, skipfooter=1, engine='python')

# Usamos df.tail(3) para demostrar que no hemos cargado la última línea y se ven las últimas tres filas de datos válidos.
print("Últimas 3 filas del DataFrame de la columna A hacia la V")
print(df.tail(3))
print("\n")

# Imprimimos la cantidad de filas y columnas del DataFrame.
# df.shape nos devuelve una tupla (filas, columnas).
print(f"El DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas.")

Últimas 3 filas del DataFrame de la columna A hacia la V
       Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84545        8411        5      WOODROW
84546        8412        5      WOODROW
84547        8413        5      WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                ADDRESS  \
84545   7351   60                                  B2       49 PITNEY AVENUE
84546   7100   28                                  K6  2730 ARTHUR KILL ROAD
84547   7105  679                                  P9      155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
84545  ...                 2                 0            2              4000
84546  ...                 0                 7            7            208033
84547  ...                 0                 1            1             10796

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
84545               1496       1925                         1
84546              64117       2001                         4
84547               2400       2006                         4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
84545                              B2      460000  2017-07-05 00:00:00
84546                              K6    11693337  2016-12-21 00:00:00
84547                              P9       69300  2016-10-27 00:00:00

[3 rows x 22 columns]


El DataFrame tiene 84548 filas y 22 columnas.

# **Práctica 13: Agregar una columna**

In [ ]:
# Imprimimos los nombres de las columnas para ver su estado inicial.
print("Nombres de columnas antes de verificar si es INDEX MIIAD")
print(df.columns)
print("\n")

# Verificamos si el nombre de la primera columna (índice 0) es 'INDEX MIIAD'
if df.columns[0] != 'INDEX MIIAD':
    # Si NO es 'INDEX MIIAD', se ejecuta este bloque.
    print(f"La primera columna se llama '{df.columns[0]}'.")
    print("Se agregará una nueva columna 'INDEX MIIAD' al inicio del DataFrame.\n")

    # Usamos df.insert() para agregar la nueva columna en una posición específica.
    # Posición: 0 (al principio)
    # Valores: df.index (usamos el índice del DataFrame como valores para la nueva columna)
    df.insert(0, 'INDEX MIIAD', df.index)
else:
    # Si la primera columna YA es 'INDEX MIIAD', se ejecuta este bloque.
    print("La primera columna ya se llama 'INDEX MIIAD'. No se requiere ninguna acción.\n")

# Imprimimos los nombres de las columnas para mostrar el resultado final.
print("Nombres de columnas después de la verificar")
print(df.columns)
print("\n")

# Mostramos las primeras filas del DataFrame para ver la nueva estructura.
print("Vista previa del DataFrame con la columna 'INDEX MIIAD'")
print(df.head())

Nombres de columnas antes de verificar si es INDEX MIIAD
Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')


La primera columna se llama 'Unnamed: 0'.
Se agregará una nueva columna 'INDEX MIIAD' al inicio del DataFrame.

Nombres de columnas después de la verificar
Index(['INDEX MIIAD', 'Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD',
       'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT',
       'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')


Vista previa del DataFrame con la columna 'INDEX MIIAD'
   INDEX MIIAD  Unnamed: 0  BOROUGH   NEIGHBORHOOD  \
0            0           4        1  ALPHABET CITY
1            1           5        1  ALPHABET CITY
2            2           6        1  ALPHABET CITY
3            3           7        1  ALPHABET CITY
4            4           8        1  ALPHABET CITY

                       BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  \
0  07 RENTALS - WALKUP APARTMENTS                                2A    392
1  07 RENTALS - WALKUP APARTMENTS                                 2    399
2  07 RENTALS - WALKUP APARTMENTS                                 2    399
3  07 RENTALS - WALKUP APARTMENTS                                2B    402
4  07 RENTALS - WALKUP APARTMENTS                                2A    404

   LOT EASE-MENT BUILDING CLASS AT PRESENT  ... RESIDENTIAL UNITS  \
0    6                                  C2  ...                 5
1   26                                  C7  ...                28
2   39                                  C7  ...                16
3   21                                  C4  ...                10
4   55                                  C2  ...                 6

  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  \
0                0            5              1633               6440
1                3           31              4616              18690
2                1           17              2212               7803
3                0           10              2272               6794
4                0            6              2369               4615

   YEAR BUILT TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  \
0        1900                         2                             C2
1        1900                         2                             C7
2        1900                         2                             C7
3        1913                         2                             C4
4        1900                         2                             C2

   SALE PRICE            SALE DATE
0     6625000  2017-07-19 00:00:00
1         -    2016-12-14 00:00:00
2         -    2016-12-09 00:00:00
3     3936272  2016-09-23 00:00:00
4     8000000  2016-11-17 00:00:00

[5 rows x 23 columns]

# **Práctica 14: Normalización de los nombres de la columna**

In [ ]:
# Normalizamos los nombres de las columnas.
# .str.lower() convierte todos los nombres a minúsculas.
# .str.replace(' ', '_') reemplaza cada espacio en blanco con un guion bajo.
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Imprimimos los nombres de las columnas para demostrar la normalización.
print("Nombres de columnas normalizados (snake_case)")
print(df.columns)

Nombres de columnas normalizados (snake_case)
Index(['index_miiad', 'unnamed:_0', 'borough', 'neighborhood',
       'building_class_category', 'tax_class_at_present', 'block', 'lot',
       'ease-ment', 'building_class_at_present', 'address', 'apartment_number',
       'zip_code', 'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

# **Práctica 15: Errores en los Tipos de Datos**

In [ ]:
# Imprimimos los tipos de datos de cada columna.
print("Tipos de datos originales")
print(df.dtypes)
print("\n")

# Analizamos el tipo de dato de las columnas
# Las columnas 'sale_price', 'land_square_feet', y 'gross_square_feet'
# actualmente son de tipo 'object', lo que significa que pandas las está
# tratando como texto. Esto se debe a que pueden contener caracteres no numéricos.
print("Análisis: Las columnas de precio y superficie son de tipo 'object' y deben ser 'float'.\n")

# Definimos las columnas que queremos convertir a tipo flotante.
columns_to_convert = ['sale_price', 'land_square_feet', 'gross_square_feet']

# Usamos un ciclo para convertir cada columna.
for col in columns_to_convert:
    # pd.to_numeric convierte una columna a un tipo numérico.
    # 'errors='coerce'' es muy importante: si encuentra un valor que no puede
    # convertir lo reemplazará con 'NaN' (Not a Number) en lugar de dar un error.
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Imprimimos de nuevo los tipos de datos para demostrar la corrección.
# Ahora las columnas deberían aparecer como 'float64'.
print("Tipos de datos después de la corrección")
print(df.dtypes)

Tipos de datos originales
index_miiad                         int64
unnamed:_0                          int64
borough                             int64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                               int64
lot                                 int64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                            int64
residential_units                   int64
commercial_units                    int64
total_units                         int64
land_square_feet                  float64
gross_square_feet                 float64
year_built                          int64
tax_class_at_time_of_sale           int64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object


Análisis: Las columnas de precio y superficie son de tipo 'object' y deben ser 'float'.

Tipos de datos después de la corrección
index_miiad                         int64
unnamed:_0                          int64
borough                             int64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                               int64
lot                                 int64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                            int64
residential_units                   int64
commercial_units                    int64
total_units                         int64
land_square_feet                  float64
gross_square_feet                 float64
year_built                          int64
tax_class_at_time_of_sale           int64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

# **Práctica 16: Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario**

In [ ]:
# Creamos un nuevo DataFrame para que funcione como nuestro diccionario de datos.
# 'Nombre de columna': Contiene la lista de nombres de las columnas del DataFrame.
# 'Tipo de dato': Es una lista que generamos para obtener el tipo de dato de cada columna como texto.
diccionario_datos = pd.DataFrame({
    'nombre_de_columna': df.columns,
    'tipo_de_dato': [str(df[col].dtype) for col in df.columns]
})

# Imprimimos el contenido del diccionario de datos.
print("Diccionario de Datos del DataFrame Preprocesado")
print("\n")
print(diccionario_datos)

Diccionario de Datos del DataFrame Preprocesado


                 nombre_de_columna tipo_de_dato
0                      index_miiad        int64
1                       unnamed:_0        int64
2                          borough        int64
3                     neighborhood       object
4          building_class_category       object
5             tax_class_at_present       object
6                            block        int64
7                              lot        int64
8                        ease-ment       object
9        building_class_at_present       object
10                         address       object
11                apartment_number       object
12                        zip_code        int64
13               residential_units        int64
14                commercial_units        int64
15                     total_units        int64
16                land_square_feet      float64
17               gross_square_feet      float64
18                      year_built        int64
19       tax_class_at_time_of_sale        int64
20  building_class_at_time_of_sale       object
21                      sale_price      float64
22                       sale_date       object